{% extends "base.html" %}
{% block title %}Investigation Question - The Silent Truth{% endblock %}
{% block content %}
  <h1>Investigation Question</h1>
  <p>Based on the note, which area might be significant for your investigation?</p>
  <form method="POST">
    <input type="radio" name="answer" value="1" id="option1" required>
    <label for="option1">The old factory district</label><br>
    <input type="radio" name="answer" value="2" id="option2">
    <label for="option2">The city center</label><br>
    <input type="radio" name="answer" value="3" id="option3">
    <label for="option3">The suburban neighborhood</label><br>
    <input type="submit" value="Submit Answer" class="button">
  </form>
{% endblock %}